# My practice programs

In [67]:
print("my practice programs")

my practice programs

In [68]:
name = "Asiv"  #string
print(name)
name = 'Asiv'  #string
print(name)

Asiv
Asiv

In [69]:
name = 'A'     #char
print(name)

A

In [70]:
i = 2        #integer
print(i)

2

In [71]:
f = 2.03     #float
print(f)

2.03

In [72]:
a=100
b=10.5
print(type(a))    
print(type(b))   #without  print  command for both a n b  only type b  is  shown at output:  float
print(id(a))        # for address
print(id(b))

<class 'int'>
<class 'float'>
1509128352
1913854067384

In [73]:
c=a+b
print(c)
print(id(c))

110.5
1913854067336

In [74]:
b=a   # value  of a  is placed in b .both integer a  and  float b becomes  100  here b's pointer is shifted to a so b=integer
print(b)
print(a)
type(b)

100
100

int

In [75]:
d=50 # value  of e  is placed in d. both integer d  and  float e becomes  10.5 here e's pointer is shifted to d so d=fload
e= 10.5
d=e
print(d)
print(e)
type(d)

10.5
10.5

float

In [76]:
# adding integer   and  character ie concatenating  integer and character  
num1 = 2
num2 ='1'
sum= str(num1)+num2  # cast one of them
print(sum)
type(sum)

21

str

In [77]:
# concatenating  integer and string ie integer  to string . is  string to integer possible?  
num1 = 2
num2 ='my name'
sum= str(num1)+num2  
#sum= str(num2)+num1  
print(sum)
type(sum)

2my name

str

In [78]:
# concatenating  char and string
num1 = 'a'
num2 ='  my name'
sum= num1+ num2  # no need of casting
print(sum)
type(sum)

a  my name

str

In [79]:
# concatenating  char and char   also string +string will be same  two  
num1 = 'a'
num2 =' b'
sum= num1+ num2  # no need of casting
print(sum)
type(sum)

a b

str

In [99]:
#directly concatenating in print()
print("hello " + "world")
print("The sum of 2 plus 2 is " + "4")
print("The sum "+"of 2 plus 2 is " + "4")

hello world
The sum of 2 plus 2 is 4
The sum of 2 plus 2 is 4

In [80]:
# yes concatenating  integer and string this time string to integer  
num1 =  2
num2 = '21' 
#num2 = 'No'        #not possible since  yes  is a string 2No not possible
sum= num1+int(num2)  
 
print(sum)
type(sum)

23

int

In [81]:
 #converting  string to  integer
s='21'   
p=(int(s))
print(p)
type(p)    # or print(type(p)) will produce <class 'int'>

21

int

In [83]:
#converting  string to  float
s='21.2'
p=(float(s))
print(p)
type(p)    # or print(type(p)) will produce <class 'int'>

21.2

float

In [88]:
a=70
b=100
marks =a/b   
#marks =b/a   
print(marks)
type(marks)

0.7

float

In [91]:
a=100
b=100
marks =a/b   #result will always be in float even  when  a and b are same 
print(marks)
print(int(marks)) #after decimal values  are removed
type(marks)    #still  float

1.0
1

float

In [106]:
# chap6: Math expressions: Unfamiliar operators
a=10
b=3
c1=a%b
c2=b%c
c3=a%10
print(c1)
print(c2)
print(c3)

1
0
0

In [116]:
a=10
b=3
c1=a%b
print(c1)
c2=b%c
print(c2)
c3=a%10
print(c3)

a+=1  # a=a+1 now the value of has been changed
print(a)
b-=1  # b=b-1 now the value of has been changed
print(b)
b*=3
print(b) # b=b*3 now the value of has been changed again 6=2*3
b-=1  # b=b-1 now the value of has been changed 5=6-1
print(b)
b-=a  # b=b-1 now the value of has been changed    b=b(new value)-a   ie  -6=5-11
print(b)

1
0
0
11
2
6
5
-6

In [118]:
a=2+3*4
print(a)
a=(2+3)*4
print(a)

14
20

In [126]:
#if else elif statements
tell_me= 'yes'

if tell_me == "yes": #avoid writing  print command exactly below the if statement,keep it  slightly on the right
 print("Ok , It will be done  by tomorrow.")

Ok , It will be done  by tomorrow.

In [130]:
if 2 + 2 == 4:
#if 2 + 3 == 4:    no output no error
 print("Everything makes sense.")

Everything makes sense.

In [131]:
if 2 + 3 == 4:

 print("Everything makes sense.") 
    else
      print("Nothing makes sense.")

IndentationError: unexpected indent (<ipython-input-131-5e567b20ed18>, line 4)